@charset "UTF-8";

* {
	margin: 0;padding: 0;
}

html, body {
	font-family: helvetica, arial, sans serif;
	background: #22252a;
	color: #eee;
	font-size: 16px;
}

a {
	color:#CD5;
}

a:focus {
	outline: none;
	-moz-outline: none;
}

h1 {
	background: url("logo.png") no-repeat scroll center 0 transparent;
	height: 150px;
	margin: 15px 0 20px;
	text-align: center;
	text-indent: -2000px;
}

h2 {
	font-size: 18px;
	background: #000;
	color: #CD5;
	margin: 10px 0;
	padding: 5px 10px;
}

p {
	margin: 0px 0px 18px;
}

pre {
	color: #CCCDCE;
	background: #121314;
	border-left: 2ex solid #222;
	margin: 0 0 20px;
	padding: 5px 7px;
}

pre code {
	font-weight: normal;
	color: #DCDDDE;
	background: inherit;
}

#wrapper {
	padding: 0 20px 25px 20px;
	max-width: 650px;
	margin: 0 auto;
}

#fork-ribbon {
	position: absolute;
	top: 0px;
	right: 0px;
}


